*{
    font-size: 25px;
}

body{
    margin: 0px;
    /* background-color: rgba(59, 57, 57, 0.936); */
}

#home {
    /* position: relative; */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
    justify-content: center;
    align-items: center;
    height: 450px;
    
}

#home::before {
    content: " ";
    position: absolute;
    background: url("../images/Bg1.png") no-repeat center center/cover ;
    
    top: 0px;
    left: 0px;
    height: 600px;
    width: 100%;
     z-index: -2;
    opacity: 0.85; 
}

#home p {
    color: rgb(20, 20, 20);
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}

#home h1{
    font-size: 65px;
    color: rgb(68, 14, 14);
    font-weight: bolder;
    margin: -25px 0px;
    font-family: 'Poppins', sans-serif;
   
    
}



 